.footer {
	height: 630px;
	position: relative;
	color: #fff;
	text-align: center;
	iframe {
		height: 630px;
		width: 100%;
	}
	&__info {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: $main-color;
		width: 460px;
		padding: 50px 68px 60px 68px;
	}
	&__addr {
		margin-bottom: 36px;
		font-size: 18px;
		line-height: 18px;
		font-weight: 400;
		font-style: normal;
	}
	&__phone {
		color: #fff;
		margin-bottom: 38px;
		font-size: 18px;
		line-height: 18px;
		font-weight: 700;
		display: block;
	}
	&__social {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__social-item {
		height: 50px;
		width: 50px;
		border: 2px solid #fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 15px;
		img {
			height: 27px;
		}
	}
}
